In [2]:
from api import get_url
url = "https://api.frankfurter.app/latest"
status_code, data = get_url(url)

In [3]:
# Print the status code
print(status_code)

# Print the JSON data (already a dictionary)
print(data)

# Example: Access specific elements
#print(data['base'])  # EUR
print(data['rates']['USD'])  # USD rate

200
{'amount': 1.0, 'base': 'EUR', 'date': '2024-10-04', 'rates': {'AUD': 1.6121, 'BGN': 1.9558, 'BRL': 6.057, 'CAD': 1.4952, 'CHF': 0.9394, 'CNY': 7.7407, 'CZK': 25.347, 'DKK': 7.4579, 'GBP': 0.83735, 'HKD': 8.5629, 'HUF': 401.33, 'IDR': 17165, 'ILS': 4.2022, 'INR': 92.61, 'ISK': 149.1, 'JPY': 161.69, 'KRW': 1478.24, 'MXN': 21.269, 'MYR': 4.6542, 'NOK': 11.6845, 'NZD': 1.7779, 'PHP': 62.126, 'PLN': 4.3145, 'RON': 4.9769, 'SEK': 11.3375, 'SGD': 1.4314, 'THB': 36.484, 'TRY': 37.776, 'USD': 1.1029, 'ZAR': 19.2809}}
1.1029

In [12]:
import pandas as pd
BASE_URL = "https://api.frankfurter.app"

def get_currencies_list():
    """
    Function that will call the relevant API endpoint from Frankfurter in order to get the list of available currencies.
    After the API call, it will perform a check to see if the API call was successful.
    If it is the case, it will load the response as JSON, extract the list of currency codes and return it as Python list.
    Otherwise it will return the value None.

    Parameters
    ----------
    None

    Returns
    -------
    list
        List of available currencies or None in case of error
    dataframe
        Dataframe of available currencies and the name of the currency
    """
    
    currencies_url = f"{BASE_URL}/currencies"
    status_code, data = get_url(currencies_url)
    #print(response)
    if status_code == 200:
        #Get cucrrency names and codes
        #df = pd.DataFrame(data, columns=['currency_code', 'currency_name'])
        print(list(data.keys()))
        #return list(df.currency_code), df
    else:
        print(f"Failed to retrieve currency list. Status code: {response.status_code}")
        return None

In [8]:
currencies_url = f"{BASE_URL}/currencies"
response = get_url(currencies_url)

In [13]:
get_currencies_list()

['AUD', 'BGN', 'BRL', 'CAD', 'CHF', 'CNY', 'CZK', 'DKK', 'EUR', 'GBP', 'HKD', 'HUF', 'IDR', 'ILS', 'INR', 'ISK', 'JPY', 'KRW', 'MXN', 'MYR', 'NOK', 'NZD', 'PHP', 'PLN', 'RON', 'SEK', 'SGD', 'THB', 'TRY', 'USD', 'ZAR']

In [41]:
get_currencies_list()

<class 'str'>

ValueError: DataFrame constructor not properly called!

In [1]:
from frankfurter import *

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
currency_list = get_currencies_list()
currency_list

{'AUD': 'Australian Dollar',
 'BGN': 'Bulgarian Lev',
 'BRL': 'Brazilian Real',
 'CAD': 'Canadian Dollar',
 'CHF': 'Swiss Franc',
 'CNY': 'Chinese Renminbi Yuan',
 'CZK': 'Czech Koruna',
 'DKK': 'Danish Krone',
 'EUR': 'Euro',
 'GBP': 'British Pound',
 'HKD': 'Hong Kong Dollar',
 'HUF': 'Hungarian Forint',
 'IDR': 'Indonesian Rupiah',
 'ILS': 'Israeli New Sheqel',
 'INR': 'Indian Rupee',
 'ISK': 'Icelandic Króna',
 'JPY': 'Japanese Yen',
 'KRW': 'South Korean Won',
 'MXN': 'Mexican Peso',
 'MYR': 'Malaysian Ringgit',
 'NOK': 'Norwegian Krone',
 'NZD': 'New Zealand Dollar',
 'PHP': 'Philippine Peso',
 'PLN': 'Polish Złoty',
 'RON': 'Romanian Leu',
 'SEK': 'Swedish Krona',
 'SGD': 'Singapore Dollar',
 'THB': 'Thai Baht',
 'TRY': 'Turkish Lira',
 'USD': 'United States Dollar',
 'ZAR': 'South African Rand'}

In [6]:
list(currency_list.keys())

['AUD',
 'BGN',
 'BRL',
 'CAD',
 'CHF',
 'CNY',
 'CZK',
 'DKK',
 'EUR',
 'GBP',
 'HKD',
 'HUF',
 'IDR',
 'ILS',
 'INR',
 'ISK',
 'JPY',
 'KRW',
 'MXN',
 'MYR',
 'NOK',
 'NZD',
 'PHP',
 'PLN',
 'RON',
 'SEK',
 'SGD',
 'THB',
 'TRY',
 'USD',
 'ZAR']

In [9]:
date_str = '2024-08-08'
date_to = '2024-08-12'
convert_from = 'USD'
convert_to = 'AUD'

In [18]:
#Get a conversion period. SHould not be longer than 90 days
def get_period(convert_from, convert_to, date_from, date_to, amount=10000.0):
    

    url = f"https://api.frankfurter.app/{date_str}..{date_to}?amount={amount}?from={convert_from}&to={convert_to}"
    status_code, data = get_url(url)
    if status_code == 200:
        # Unpack rates in the format {date: rate}
        dates_rates = {date: list(rates.values())[0] for date, rates in data["rates"].items()}
        # Flatten the data to include amount and base as columns
        flat_data = {**{'start_date': data['start_date'],'amount': data['amount'], 'base': data['base'], 'converted_to': convert_to},**dates_rates}
        df = pd.DataFrame([flat_data])
        return df
    else:
        print(f"Failed to retrieve data. Status code: {response.status_code}")

In [20]:
from datetime import datetime, timedelta

In [24]:
latest_date_str, fx_rate = get_latest_rates(convert_from, convert_to, amount)

NameError: name 'amount' is not defined

In [19]:
latest_df = get_period(convert_from, convert_to, date_str, date_to)
latest_df

   start_date   amount base converted_to  2024-08-08  2024-08-09  2024-08-12
0  2024-08-08  10000.0  EUR          AUD       16677       16609       16560

In [28]:
#Get a conversion period. SHould not be longer than 90 days
def get_last_period(convert_from, convert_to, date_from=None, date_to=None, amount=1.0):
    
    # Get the latest date if no date_to is provided
    latest_date_str, fx_rate = get_latest_rates(convert_from, convert_to, amount)
    latest_date = datetime.strptime(latest_date_str, '%Y-%m-%d')

    if not date_from and not date_to: #If they are not given, the calculate 60 days    
        # Subtract 30 days from the latest date
        prior_60_date = latest_date - timedelta(days=30)
        date_from_str = prior_60_date.strftime('%Y-%m-%d')
        date_to_str = latest_date_str
    else:
        date_from_date = datetime.strptime(date_from, '%Y-%m-%d')
        date_to_date = datetime.strptime(date_to, '%Y-%m-%d')
        
        # Check if both dates are provided, if not, default to 30 days prior
        if not date_from_date:
            date_from_date = date_to_date - timedelta(days=30)
        if not date_to_date:
            date_to_date = date_from_date + timedelta(days=30)
        
        # Check that date_to_obj does not exceed the latest date
        if date_to_date > latest_date:
            date_to_date = latest_date
            
        # Calculate difference in days
        days_difference = (date_to_date - date_from_date).days
        
        # Ensure the period is not longer than 90 days
        if days_difference > 90:
            raise ValueError("The date range cannot be longer than 90 days")
        
        # Convert dates back to string
        date_from_str = date_from_date.strftime('%Y-%m-%d')
        date_to_str = date_to_date.strftime('%Y-%m-%d')

 
    url = f"https://api.frankfurter.app/{date_from_str}..{date_to_str}?amount={amount}?from={convert_from}&to={convert_to}"
    status_code, data = get_url(url)
    if status_code == 200:
        # Unpack rates in the format {date: rate}
        dates_rates = {date: list(rates.values())[0] for date, rates in data["rates"].items()}
        # Flatten the data to include amount and base as columns
        flat_data = {**{'start_date': data['start_date'],'amount': data['amount'], 'base': data['base'], 'converted_to': convert_to},**dates_rates}
        df = pd.DataFrame([flat_data])
        return df
    else:
        print(f"Failed to retrieve data. Status code: {response.status_code}")

In [29]:
get_last_60(convert_from, convert_to, date_str, date_to)

   start_date  amount base converted_to  2024-08-08  2024-08-09  2024-08-12
0  2024-08-08     1.0  EUR          AUD      1.6677      1.6609       1.656

In [30]:
get_last_60(convert_from, convert_to)

,start_date,amount,base,converted_to,2024-08-21,2024-08-22,2024-08-23,2024-08-26,2024-08-27,2024-08-28,...,2024-09-09,2024-09-10,2024-09-11,2024-09-12,2024-09-13,2024-09-16,2024-09-17,2024-09-18,2024-09-19,2024-09-20
0,2024-08-21,1.0,EUR,AUD,1.6495,1.655,1.6518,1.6496,1.6461,1.6407,...,1.6596,1.6551,1.656,1.6497,1.6542,1.6492,1.6472,1.64,1.6352,1.6388

In [1]:
date_to = '2024-09-24'

In [2]:
type(date_to) == 'str'

False

In [4]:
type(date_to)

str

In [1]:
import sys
print(sys.version)

3.9.13 (main, Aug 25 2022, 18:29:29)
[Clang 12.0.0 ]